.container {
  padding: 48px 160px;
}

header,
main,
footer {
  padding-left: 240px;
  padding-right: 240px;
}

.section-title {
  font-size: 40px;
  line-height: 52px;
}

p {
  color: #4b5d68;
  line-height: 28.8px;
}

.features-grid {
  display: grid;
  grid: 50% 50% / 50% 50%;
}

.feature {
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 49.24px 49.24px 32.5px 169.39px;
  padding-right: 49.24px;
  display: flex;
  align-items: center;
  justify-content: end;
}

.feature-img {
  width: 50%;
  height: auto;
  object-fit: contain;
  /* transform: translateX(-50%); */
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.feature-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  right: 0;
}

.feature-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 90%;
  padding: 48px 0 32px;
}

#testimonials {
  background-color: #9c69e2;
  border-radius: 50px;
  position: relative;
  z-index: 0;
  margin-top: 120px;
  margin-bottom: 88px;
  display: flex;
  flex-direction: column;
}

.testimonial {
  display: flex;
  flex-direction: column;
  margin: 93px auto;
  background-color: #fff;
  border-radius: 20px;
  padding: 60px 110px;
  width: 80%;
  height: 330.59px;
  text-align: left;
  z-index: 1;
  overflow: visible;
}

.testimonial .row {
  display: flex;
  align-items: center;
}

.testimonial .row div:nth-child(1) {
  width: 130px !important;
  margin-right: 42px;
}

.testimonial .description {
  width: 60%;
}

.testimonial .row img {
  height: 90.16px;
  clip-path: ellipse(64px 48px);
  margin-right: 46px;
}

.slide-controls {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;
}

#prev-slide {
  left: 60px;
}

#next-slide {
  right: 60px;
}

.control-dots {
  bottom: 20px !important;
  cursor: pointer;
}

.slide-indicator {
  background-color: #fff;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  display: inline-block;
  margin: 0 4px;
  vertical-align: middle;
}

footer {
  border-top: 2px solid #9c69e22a;
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
}

.footer-grid .column {
  display: grid;
  grid-template-rows: 35px 1fr;
  grid-gap: 30px 0;
}

.column .title {
  display: flex;
  align-items: flex-end;
}

.footer-nav li {
  margin: 20px 0;
}

.footer-nav li a:hover {
  color: #000;
  font-weight: 500;
}

.socials {
  display: flex;
}

.social {
  background-color: #212353;
  opacity: 0.1;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 14px;
}

.social:hover,
.communicate:hover {
  opacity: 0.6;
  cursor: pointer;
}

.other-info {
  margin-top: 88px;
  display: flex;
  justify-content: space-between;
}

.communicate {
  background-color: #ccc;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.communicate svg {
  color: #9c69e2;
}
