aside {
  background-color: #d9d9d9;
  padding: 32px 0;
  width: 320px;
}

.logo-wrapper {
  margin-left: 100px;
}

nav {
  margin-left: 34px;
  margin-top: 40px;
}

nav li {
  margin: 12px 0;
}

main {
  padding: 120px;
  width: 100%;
}

.top-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 53px;
}

.input {
  height: 100%;
  font-size: 18px;
  padding: 0 32px;
  border-radius: 6px;
  margin-left: 68px;
  border: 2px solid #212353;
}

main table {
  width: 100%;
}

td,
th {
  background-color: #d9d9d9;
  padding: 12px 0;
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  padding: 20px 40px;
}

td .action-btn {
  padding: 4px;
  cursor: pointer;
}

td .action-btn:hover {
  opacity: 0.4;
}

.pagination {
  text-align: right;
}

.pagination button {
  background-color: #d9d9d9;
  border: none;
  padding: 12px 20px;
  margin-top: 26px;
  margin-left: 12px;
  font-size: 20px;
}

.pagination button:not(:disabled):hover {
  background-color: #ccc;
  cursor: pointer;
}

.new-post-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000aa;
  transition: 0.5s;
}

.new-post-form {
  background-color: #fff;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  border-radius: 20px;
}

.input-wrapper {
  width: 100%;
}
