* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

root {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

html {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  width: 100vw;
  height: 100vh;
}

.text-center {
  text-align: center;
}

a,
a:visited {
  text-decoration: none;
  color: #212353;
}

h1,
h2,
h3,
h4,
h5 {
  color: #212353;
  font-family: Helvetica;
}

.global-btn {
  height: 60px;
  background-color: #9c69e2;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
  border: none;
  cursor: pointer;
  font-size: 20px;
  padding: 12px 80px;
}

.global-btn:hover {
  background-color: #8c89e2;
}

.app-logo {
  display: flex;
  align-items: baseline;
  cursor: pointer;
  background: transparent;
  border: none;
}
